@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap");
.article {
  background-color: #f9f9f9;
}

.thumbnail {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}
.heading {
  width: 80vw;
  background-image: url("../svgs/sharon-mccutcheon-8lnbXtxFGZw-unsplash.jpg");
  background-size: 100% 90%;

  background-repeat: no-repeat;
}
.heading > P {
  margin-top: 35rem;
  color: #23afaa;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.icons {
  width: 80vw;
  display: flex;
  color: #717171;
  float: left;
  align-items: flex-start;
}

.icons > p {
  margin-right: 3rem;
}

.readingSection {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 75% 25%;
}
.content {
  display: grid;
  grid-template-rows: 25rem 20rem 20rem 7rem 8rem;
}
.euroImage {
  width: 100%;
  height: 100%;
}

.paras > p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  color: #63636a;
}

.paraWithPhoto {
  display: grid;
  grid-template-columns: 40% 55%;
  column-gap: 5%;
}
.euroImageSmall {
  width: 100%;
}

.smallPara > p {
  font-size: 0.95rem;
  color: #63636a;
  margin: 0.3rem 0;
  font-weight: 200;
}
.smallPara > p:first-child {
  margin-top: 0 !important;
}

.lastName {
  font-family: "Poppins", sans-serif;
  color: #63636a;
  font-size: 0.9rem;
  font-weight: 200;
}

.bluePara {
  background-color: #ecf6f5;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.bluePara > p {
  margin-left: 3rem;
}
.bluePara > p:first-child {
  font-family: "Noto Serif", serif;
}
.bluePara > p:nth-child(2) {
  color: #2fc2e2;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
