html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.rec-dot_active{
  background-color: rgb(56, 148, 78, 0.5) !important;
  box-shadow: 0 0 1px 3px rgba(50, 168, 78,1) !important;
}
