@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.mainSection {
  background: linear-gradient(
      rgba(16, 177, 171, 0.589),
      rgba(16, 177, 171, 0.589)
    ),
    url(../svgs/Mask\ Group\ 24@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  font-family: "Montserrat", sans-serif;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.findemy {
  font-size: 3rem;
}

.tagline {
  font-size: 2rem;
}
.comingSoon {
  background: none;
  border: 1px solid white;
  height: 3rem;
  width: 13rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.comingSoon:focus {
  outline: none;
}

.ovalSection {
  background: url(../svgs/Oval.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loremStyle {
  color: #567592;
  font-size: 1rem;
  text-align: center;
}
.inputArea {
  display: flex;
  margin-top: 1rem;
}
.inputBox {
  width: 30rem;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
}

.inputBox::placeholder {
  margin-left: 1rem;
}
.searchButton {
  margin-left: 1rem;
  font-size: 1rem;
  background-color: #23afaa;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0rem 2rem;
}

.blogSection {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.checkBlog {
  font-size: 1.5rem;
}
.tagLine {
  font-size: 0.8rem;
  color: #544837;
  font-size: 400;
}

.blogShowcase {
  margin-top: 2rem;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.blogShowcase > div {
  height: 10rem;
  width: 20rem;
  background-image: url("../svgs/1.png");
  background-size: cover;
  display: flex;
}
